body, html {
  font-size: 13px;
  height: 100%;
}

body {
  background-color: #f5f6fa;
  color: #4d5259;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  line-height: 24px;
  overflow-x: hidden;
  overflow-y: scroll;
}
