[class^="zx-icon-"],
[class*=" zx-icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.zx-icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.zx-icon-asterisk {
  width: 0.9285714285714285em;
}

.zx-icon-plus {
  width: 0.7857142857142857em;
}

.zx-icon-question {
  width: 0.62em;
}

.zx-icon-minus {
  width: 0.7857142857142857em;
}

.zx-icon-music {
  width: 0.8571428571428571em;
}

.zx-icon-search {
  width: 0.9285714285714285em;
}

.zx-icon-star {
  width: 0.9285714285714285em;
}

.zx-icon-star-o {
  width: 0.9285714285714285em;
}

.zx-icon-user {
  width: 0.7142857142857142em;
}

.zx-icon-film {
  width: 1.0714285714285714em;
}

.zx-icon-th-large {
  width: 0.9285714285714285em;
}

.zx-icon-close {
  width: 0.7857142857142857em;
}

.zx-icon-search-plus {
  width: 0.9285714285714285em;
}

.zx-icon-search-minus {
  width: 0.9285714285714285em;
}

.zx-icon-power-off {
  width: 0.8571428571428571em;
}

.zx-icon-cog {
  width: 0.8571428571428571em;
}

.zx-icon-trash-o {
  width: 0.7857142857142857em;
}

.zx-icon-home {
  width: 0.9285714285714285em;
}

.zx-icon-file-o {
  width: 0.8571428571428571em;
}

.zx-icon-clock-o {
  width: 0.8571428571428571em;
}

.zx-icon-road {
  width: 1.0714285714285714em;
}

.zx-icon-download {
  width: 0.9285714285714285em;
}

.zx-icon-arrow-circle-o-down {
  width: 0.8571428571428571em;
}

.zx-icon-arrow-circle-o-up {
  width: 0.8571428571428571em;
}

.zx-icon-inbox {
  width: 0.8571428571428571em;
}

.zx-icon-play-circle-o {
  width: 0.8571428571428571em;
}

.zx-icon-repeat {
  width: 0.8571428571428571em;
}

.zx-icon-refresh {
  width: 0.8571428571428571em;
}

.zx-icon-lock {
  width: 0.6428571428571428em;
}

.zx-icon-flag {
  width: 1.0357142857142856em;
}

.zx-icon-headphones {
  width: 0.9285714285714285em;
}

.zx-icon-volume-off {
  width: 0.42857142857142855em;
}

.zx-icon-volume-down {
  width: 0.6428571428571428em;
}

.zx-icon-volume-up {
  width: 0.9285714285714285em;
}

.zx-icon-qrcode {
  width: 0.7857142857142857em;
}

.zx-icon-tag {
  width: 0.8454285714285714em;
}

.zx-icon-tags {
  width: 1.0597142857142856em;
}

.zx-icon-book {
  width: 0.9302142857142857em;
}

.zx-icon-bookmark {
  width: 0.7142857142857142em;
}

.zx-icon-print {
  width: 0.9285714285714285em;
}

.zx-icon-camera {
  width: 1.0714285714285714em;
}

.zx-icon-font {
  width: 0.9285714285714285em;
}

.zx-icon-bold {
  width: 0.7857142857142857em;
}

.zx-icon-italic {
  width: 0.5714285714285714em;
}

.zx-icon-text-height {
  width: 1.0055714285714286em;
}

.zx-icon-text-width {
  width: 0.8577142857142857em;
}

.zx-icon-image {
  width: 1.0714285714285714em;
}

.zx-icon-pencil {
  width: 0.8454285714285714em;
}

.zx-icon-map-marker {
  width: 0.5714285714285714em;
}

.zx-icon-adjust {
  width: 0.8571428571428571em;
}

.zx-icon-tint {
  width: 0.5714285714285714em;
}

.zx-icon-edit {
  width: 1.0005714285714284em;
}

.zx-icon-share-square-o {
  width: 0.9319285714285714em;
}

.zx-icon-check-square-o {
  width: 0.9324999999999999em;
}

.zx-icon-step-backward {
  width: 0.5714285714285714em;
}

.zx-icon-backward {
  width: 0.9932857142857143em;
}

.zx-icon-play {
  width: 0.7896428571428571em;
}

.zx-icon-pause {
  width: 0.8571428571428571em;
}

.zx-icon-stop {
  width: 0.8571428571428571em;
}

.zx-icon-forward {
  width: 0.8638571428571428em;
}

.zx-icon-step-forward {
  width: 0.5714285714285714em;
}

.zx-icon-eject {
  width: 0.8582857142857142em;
}

.zx-icon-chevron-left {
  width: 0.75em;
}

.zx-icon-chevron-right {
  width: 0.6785714285714285em;
}

.zx-icon-plus-circle {
  width: 0.8571428571428571em;
}

.zx-icon-minus-circle {
  width: 0.8571428571428571em;
}

.zx-icon-times-circle {
  width: 0.8571428571428571em;
}

.zx-icon-check-circle {
  width: 0.8571428571428571em;
}

.zx-icon-question-circle {
  width: 0.8571428571428571em;
}

.zx-icon-info-circle {
  width: 0.8571428571428571em;
}

.zx-icon-crosshairs {
  width: 0.8571428571428571em;
}

.zx-icon-times-circle-o {
  width: 0.8571428571428571em;
}

.zx-icon-check-circle-o {
  width: 0.8571428571428571em;
}

.zx-icon-ban {
  width: 0.8571428571428571em;
}

.zx-icon-arrow-left {
  width: 0.8928571428571428em;
}

.zx-icon-arrow-right {
  width: 0.8214285714285714em;
}

.zx-icon-arrow-up {
  width: 0.9285714285714285em;
}

.zx-icon-arrow-down {
  width: 0.9285714285714285em;
}

.zx-icon-expand {
  width: 0.8571428571428571em;
}

.zx-icon-compress {
  width: 0.8571428571428571em;
}

.zx-icon-exclamation-circle {
  width: 0.8571428571428571em;
}

.zx-icon-gift {
  width: 0.8571428571428571em;
}

.zx-icon-fire {
  width: 0.7857142857142857em;
}

.zx-icon-plane {
  width: 0.803em;
}

.zx-icon-calendar {
  width: 0.9285714285714285em;
}

.zx-icon-magnet {
  width: 0.8571428571428571em;
}

.zx-icon-retweet {
  width: 1.0714285714285714em;
}

.zx-icon-shopping-cart {
  width: 0.9285714285714285em;
}

.zx-icon-folder {
  width: 0.9285714285714285em;
}

.zx-icon-folder-open {
  width: 1.0485714285714285em;
}

.zx-icon-arrows-v {
  width: 0.42857142857142855em;
}

.zx-icon-bar-chart {
  width: 1.1428571428571428em;
}

.zx-icon-twitter-square {
  width: 0.8571428571428571em;
}

.zx-icon-facebook-square {
  width: 0.8571428571428571em;
}

.zx-icon-key {
  width: 0.9391428571428571em;
}

.zx-icon-cogs {
  width: 1.0714285714285714em;
}

.zx-icon-thumbs-o-up {
  width: 0.8571428571428571em;
}

.zx-icon-thumbs-o-down {
  width: 0.8571428571428571em;
}

.zx-icon-star-half {
  width: 0.46428571428571425em;
}

.zx-icon-sign-out {
  width: 0.875em;
}

.zx-icon-linkedin-square {
  width: 0.8571428571428571em;
}

.zx-icon-thumb-tack {
  width: 0.6428571428571428em;
}

.zx-icon-sign-in {
  width: 0.8571428571428571em;
}

.zx-icon-trophy {
  width: 0.9285714285714285em;
}

.zx-icon-github-square {
  width: 0.8571428571428571em;
}

.zx-icon-upload {
  width: 0.9285714285714285em;
}

.zx-icon-lemon-o {
  width: 0.8565714285714285em;
}

.zx-icon-phone {
  width: 0.7857142857142857em;
}

.zx-icon-square-o {
  width: 0.7857142857142857em;
}

.zx-icon-bookmark-o {
  width: 0.7142857142857142em;
}

.zx-icon-phone-square {
  width: 0.8571428571428571em;
}

.zx-icon-twitter {
  width: 0.9285714285714285em;
}

.zx-icon-facebook {
  width: 0.5881428571428571em;
}

.zx-icon-github {
  width: 0.8571428571428571em;
}

.zx-icon-unlock {
  width: 0.9285714285714285em;
}

.zx-icon-credit-card {
  width: 1.0714285714285714em;
}

.zx-icon-feed {
  width: 0.7862857142857141em;
}

.zx-icon-hdd-o {
  width: 0.8571428571428571em;
}

.zx-icon-certificate {
  width: 0.8571428571428571em;
}

.zx-icon-hand-o-up {
  width: 0.8571428571428571em;
}

.zx-icon-hand-o-down {
  width: 0.8571428571428571em;
}

.zx-icon-arrow-circle-left {
  width: 0.8571428571428571em;
}

.zx-icon-arrow-circle-right {
  width: 0.8571428571428571em;
}

.zx-icon-arrow-circle-up {
  width: 0.8571428571428571em;
}

.zx-icon-arrow-circle-down {
  width: 0.8571428571428571em;
}

.zx-icon-globe {
  width: 0.8571428571428571em;
}

.zx-icon-wrench {
  width: 0.9391428571428571em;
}

.zx-icon-filter {
  width: 0.7857142857142857em;
}

.zx-icon-arrows-alt {
  width: 0.8571428571428571em;
}

.zx-icon-group {
  width: 1.0714285714285714em;
}

.zx-icon-chain {
  width: 0.9285714285714285em;
}

.zx-icon-cloud {
  width: 1.0714285714285714em;
}

.zx-icon-flask {
  width: 0.9285714285714285em;
}

.zx-icon-cut {
  width: 0.9977857142857142em;
}

.zx-icon-paperclip {
  width: 0.7857142857142857em;
}

.zx-icon-floppy-o {
  width: 0.8571428571428571em;
}

.zx-icon-square {
  width: 0.8571428571428571em;
}

.zx-icon-bars {
  width: 0.8571428571428571em;
}

.zx-icon-list-ol {
  width: 1.008357142857143em;
}

.zx-icon-underline {
  width: 0.8571428571428571em;
}

.zx-icon-table {
  width: 0.9285714285714285em;
}

.zx-icon-magic {
  width: 0.9436428571428571em;
}

.zx-icon-truck {
  width: 1.0357142857142856em;
}

.zx-icon-pinterest {
  width: 0.8571428571428571em;
}

.zx-icon-pinterest-square {
  width: 0.8571428571428571em;
}

.zx-icon-google-plus-square {
  width: 0.8571428571428571em;
}

.zx-icon-google-plus {
  width: 1.2857142857142856em;
}

.zx-icon-money {
  width: 1.0714285714285714em;
}

.zx-icon-caret-down {
  width: 0.5714285714285714em;
}

.zx-icon-caret-up {
  width: 0.5714285714285714em;
}

.zx-icon-caret-left {
  width: 0.39285714285714285em;
}

.zx-icon-caret-right {
  width: 0.3214285714285714em;
}

.zx-icon-columns {
  width: 0.9285714285714285em;
}

.zx-icon-sort {
  width: 0.5714285714285714em;
}

.zx-icon-sort-desc {
  width: 0.5714285714285714em;
}

.zx-icon-sort-asc {
  width: 0.5714285714285714em;
}

.zx-icon-linkedin {
  width: 0.8571428571428571em;
}

.zx-icon-rotate-left {
  width: 0.8571428571428571em;
}

.zx-icon-gavel {
  width: 1.0105714285714285em;
}

.zx-icon-bolt {
  width: 0.5005714285714286em;
}

.zx-icon-umbrella {
  width: 0.9285714285714285em;
}

.zx-icon-lightbulb-o {
  width: 0.5714285714285714em;
}

.zx-icon-cloud-download {
  width: 1.0714285714285714em;
}

.zx-icon-cloud-upload {
  width: 1.0714285714285714em;
}

.zx-icon-user-md {
  width: 0.7857142857142857em;
}

.zx-icon-stethoscope {
  width: 0.7857142857142857em;
}

.zx-icon-coffee {
  width: 1.0357142857142856em;
}

.zx-icon-cutlery {
  width: 0.7857142857142857em;
}

.zx-icon-file-text-o {
  width: 0.8571428571428571em;
}

.zx-icon-building-o {
  width: 0.7857142857142857em;
}

.zx-icon-hospital-o {
  width: 0.7857142857142857em;
}

.zx-icon-ambulance {
  width: 1.107142857142857em;
}

.zx-icon-fighter-jet {
  width: 1.0714285714285714em;
}

.zx-icon-beer {
  width: 0.9642857142857142em;
}

.zx-icon-h-square {
  width: 0.8571428571428571em;
}

.zx-icon-plus-square {
  width: 0.8571428571428571em;
}

.zx-icon-angle-double-left {
  width: 0.5892857142857143em;
}

.zx-icon-angle-double-right {
  width: 0.5535714285714285em;
}

.zx-icon-angle-double-up {
  width: 0.6428571428571428em;
}

.zx-icon-angle-double-down {
  width: 0.6428571428571428em;
}

.zx-icon-angle-left {
  width: 0.375em;
}

.zx-icon-angle-right {
  width: 0.33928571428571425em;
}

.zx-icon-angle-up {
  width: 0.6428571428571428em;
}

.zx-icon-angle-down {
  width: 0.6428571428571428em;
}

.zx-icon-desktop {
  width: 1.0714285714285714em;
}

.zx-icon-laptop {
  width: 1.0714285714285714em;
}

.zx-icon-tablet {
  width: 0.6428571428571428em;
}

.zx-icon-mobile {
  width: 0.42857142857142855em;
}

.zx-icon-circle-o {
  width: 0.8571428571428571em;
}

.zx-icon-quote-left {
  width: 0.9285714285714285em;
}

.zx-icon-quote-right {
  width: 0.9285714285714285em;
}

.zx-icon-circle {
  width: 0.8571428571428571em;
}

.zx-icon-github-alt {
  width: 0.9285714285714285em;
}

.zx-icon-folder-o {
  width: 0.9285714285714285em;
}

.zx-icon-folder-open-o {
  width: 1.0652857142857142em;
}

.zx-icon-smile-o {
  width: 0.8571428571428571em;
}

.zx-icon-frown-o {
  width: 0.8571428571428571em;
}

.zx-icon-meh-o {
  width: 0.8571428571428571em;
}

.zx-icon-gamepad {
  width: 1.0714285714285714em;
}

.zx-icon-keyboard-o {
  width: 1.0714285714285714em;
}

.zx-icon-flag-o {
  width: 1.0357142857142856em;
}

.zx-icon-flag-checkered {
  width: 1.0357142857142856em;
}

.zx-icon-terminal {
  width: 0.934142857142857em;
}

.zx-icon-code {
  width: 1.0714285714285714em;
}

.zx-icon-mail-reply-all {
  width: 0.996642857142857em;
}

.zx-icon-star-half-empty {
  width: 0.9285714285714285em;
}

.zx-icon-location-arrow {
  width: 0.7862857142857141em;
}

.zx-icon-crop {
  width: 0.9302142857142857em;
}

.zx-icon-code-fork {
  width: 0.5714285714285714em;
}

.zx-icon-chain-broken {
  width: 0.9285714285714285em;
}

.zx-icon-info {
  width: 0.3571428571428571em;
}

.zx-icon-exclamation {
  width: 0.3571428571428571em;
}

.zx-icon-superscript {
  width: 0.8587857142857143em;
}

.zx-icon-subscript {
  width: 0.8599285714285714em;
}

.zx-icon-eraser {
  width: 1.0714285714285714em;
}

.zx-icon-puzzle-piece {
  width: 0.9285714285714285em;
}

.zx-icon-microphone {
  width: 0.6428571428571428em;
}

.zx-icon-microphone-slash {
  width: 0.7857142857142857em;
}

.zx-icon-shield {
  width: 0.7142857142857142em;
}

.zx-icon-calendar-o {
  width: 0.9285714285714285em;
}

.zx-icon-fire-extinguisher {
  width: 0.7807142857142857em;
}

.zx-icon-rocket {
  width: 0.9447857142857142em;
}

.zx-icon-maxcdn {
  width: 0.9894285714285714em;
}

.zx-icon-chevron-circle-left {
  width: 0.8571428571428571em;
}

.zx-icon-chevron-circle-right {
  width: 0.8571428571428571em;
}

.zx-icon-chevron-circle-up {
  width: 0.8571428571428571em;
}

.zx-icon-chevron-circle-down {
  width: 0.8571428571428571em;
}

.zx-icon-html5 {
  width: 0.7857142857142857em;
}

.zx-icon-unlock-alt {
  width: 0.6428571428571428em;
}

.zx-icon-bullseye {
  width: 0.8571428571428571em;
}

.zx-icon-ellipsis-h {
  width: 0.7857142857142857em;
}

.zx-icon-ellipsis-v {
  width: 0.21428571428571427em;
}

.zx-icon-rss-square {
  width: 0.8571428571428571em;
}

.zx-icon-play-circle {
  width: 0.8571428571428571em;
}

.zx-icon-minus-square {
  width: 0.8571428571428571em;
}

.zx-icon-minus-square-o {
  width: 0.7857142857142857em;
}

.zx-icon-level-up {
  width: 0.5730714285714286em;
}

.zx-icon-level-down {
  width: 0.5730714285714286em;
}

.zx-icon-check-square {
  width: 0.8571428571428571em;
}

.zx-icon-pencil-square {
  width: 0.8571428571428571em;
}

.zx-icon-external-link-square {
  width: 0.8571428571428571em;
}

.zx-icon-share-square {
  width: 0.8571428571428571em;
}

.zx-icon-compass {
  width: 0.8571428571428571em;
}

.zx-icon-caret-square-o-down {
  width: 0.8571428571428571em;
}

.zx-icon-caret-square-o-up {
  width: 0.8571428571428571em;
}

.zx-icon-caret-square-o-right {
  width: 0.8571428571428571em;
}

.zx-icon-eur {
  width: 0.5664285714285714em;
}

.zx-icon-gbp {
  width: 0.5692142857142857em;
}

.zx-icon-dollar {
  width: 0.5697857142857142em;
}

.zx-icon-inr {
  width: 0.5011428571428571em;
}

.zx-icon-cny {
  width: 0.5730714285714286em;
}

.zx-icon-rouble {
  width: 0.7142857142857142em;
}

.zx-icon-bitcoin {
  width: 0.7422142857142857em;
}

.zx-icon-file {
  width: 0.8571428571428571em;
}

.zx-icon-file-text {
  width: 0.8571428571428571em;
}

.zx-icon-sort-alpha-asc {
  width: 0.9430714285714284em;
}

.zx-icon-sort-alpha-desc {
  width: 0.9430714285714284em;
}

.zx-icon-sort-amount-asc {
  width: 1.0162142857142857em;
}

.zx-icon-sort-amount-desc {
  width: 1.0162142857142857em;
}

.zx-icon-sort-numeric-asc {
  width: 0.8454285714285714em;
}

.zx-icon-sort-numeric-desc {
  width: 0.8454285714285714em;
}

.zx-icon-thumbs-up {
  width: 0.8928571428571428em;
}

.zx-icon-thumbs-down {
  width: 0.8928571428571428em;
}

.zx-icon-youtube-square {
  width: 0.8571428571428571em;
}

.zx-icon-youtube {
  width: 0.8571428571428571em;
}

.zx-icon-xing {
  width: 0.7857142857142857em;
}

.zx-icon-xing-square {
  width: 0.8571428571428571em;
}

.zx-icon-stack-overflow {
  width: 0.8571428571428571em;
}

.zx-icon-instagram {
  width: 0.8571428571428571em;
}

.zx-icon-flickr {
  width: 0.8571428571428571em;
}

.zx-icon-adn {
  width: 0.8571428571428571em;
}

.zx-icon-bitbucket {
  width: 0.790142857142857em;
}

.zx-icon-bitbucket-square {
  width: 0.8571428571428571em;
}

.zx-icon-tumblr {
  width: 0.6093571428571428em;
}

.zx-icon-tumblr-square {
  width: 0.8571428571428571em;
}

.zx-icon-long-arrow-down {
  width: 0.42857142857142855em;
}

.zx-icon-long-arrow-up {
  width: 0.42857142857142855em;
}

.zx-icon-long-arrow-left {
  width: 1.0357142857142856em;
}

.zx-icon-long-arrow-right {
  width: 0.9642857142857142em;
}

.zx-icon-apple {
  width: 0.7773571428571427em;
}

.zx-icon-windows {
  width: 0.9285714285714285em;
}

.zx-icon-android {
  width: 0.7857142857142857em;
}

.zx-icon-linux {
  width: 0.8939999999999999em;
}

.zx-icon-dribbble {
  width: 0.8571428571428571em;
}

.zx-icon-skype {
  width: 0.8571428571428571em;
}

.zx-icon-foursquare {
  width: 0.7248571428571428em;
}

.zx-icon-trello {
  width: 0.8571428571428571em;
}

.zx-icon-female {
  width: 0.7142857142857142em;
}

.zx-icon-male {
  width: 0.5714285714285714em;
}

.zx-icon-gittip {
  width: 0.8571428571428571em;
}

.zx-icon-moon-o {
  width: 0.8236428571428571em;
}

.zx-icon-bug {
  width: 0.9285714285714285em;
}

.zx-icon-vk {
  width: 1.092642857142857em;
}

.zx-icon-weibo {
  width: 1.0150714285714286em;
}

.zx-icon-renren {
  width: 0.8571428571428571em;
}

.zx-icon-pagelines {
  width: 0.7823571428571428em;
}

.zx-icon-stack-exchange {
  width: 0.7142857142857142em;
}

.zx-icon-arrow-circle-o-right {
  width: 0.8571428571428571em;
}

.zx-icon-arrow-circle-o-left {
  width: 0.8571428571428571em;
}

.zx-icon-caret-square-o-left {
  width: 0.8571428571428571em;
}

.zx-icon-dot-circle-o {
  width: 0.8571428571428571em;
}

.zx-icon-wheelchair {
  width: 0.9090714285714285em;
}

.zx-icon-vimeo-square {
  width: 0.8571428571428571em;
}

.zx-icon-try {
  width: 0.6428571428571428em;
}

.zx-icon-plus-square-o {
  width: 0.7857142857142857em;
}

.zx-icon-space-shuttle {
  width: 1.2142857142857142em;
}

.zx-icon-slack {
  width: 0.9285714285714285em;
}

.zx-icon-envelope-square {
  width: 0.8571428571428571em;
}

.zx-icon-bank {
  width: 1.0714285714285714em;
}

.zx-icon-graduation-cap {
  width: 1.2857142857142856em;
}

.zx-icon-yahoo {
  width: 0.8571428571428571em;
}

.zx-icon-google {
  width: 0.8398571428571427em;
}

.zx-icon-reddit-square {
  width: 0.8571428571428571em;
}

.zx-icon-stumbleupon-circle {
  width: 0.8571428571428571em;
}

.zx-icon-stumbleupon {
  width: 1.0714285714285714em;
}

.zx-icon-delicious {
  width: 0.8571428571428571em;
}

.zx-icon-digg {
  width: 1.1428571428571428em;
}

.zx-icon-pied-piper-pp {
  width: 0.8571428571428571em;
}

.zx-icon-pied-piper-alt {
  width: 1.1372857142857142em;
}

.zx-icon-drupal {
  width: 0.8571428571428571em;
}

.zx-icon-joomla {
  width: 0.8571428571428571em;
}

.zx-icon-language {
  width: 0.8571428571428571em;
}

.zx-icon-building {
  width: 0.7857142857142857em;
}

.zx-icon-child {
  width: 0.7142857142857142em;
}

.zx-icon-paw {
  width: 0.9285714285714285em;
}

.zx-icon-spoon {
  width: 0.42857142857142855em;
}

.zx-icon-cube {
  width: 0.9285714285714285em;
}

.zx-icon-cubes {
  width: 1.2142857142857142em;
}

.zx-icon-behance {
  width: 1.1428571428571428em;
}

.zx-icon-behance-square {
  width: 0.8571428571428571em;
}

.zx-icon-steam-square {
  width: 0.8571428571428571em;
}

.zx-icon-recycle {
  width: 1.0022142857142857em;
}

.zx-icon-automobile {
  width: 1.1428571428571428em;
}

.zx-icon-cab {
  width: 1.1428571428571428em;
}

.zx-icon-tree {
  width: 0.8571428571428571em;
}

.zx-icon-spotify {
  width: 0.8571428571428571em;
}

.zx-icon-deviantart {
  width: 0.5714285714285714em;
}

.zx-icon-soundcloud {
  width: 1.2857142857142856em;
}

.zx-icon-database {
  width: 0.8571428571428571em;
}

.zx-icon-file-pdf-o {
  width: 0.8571428571428571em;
}

.zx-icon-file-word-o {
  width: 0.8571428571428571em;
}

.zx-icon-file-excel-o {
  width: 0.8571428571428571em;
}

.zx-icon-file-powerpoint-o {
  width: 0.8571428571428571em;
}

.zx-icon-file-image-o {
  width: 0.8571428571428571em;
}

.zx-icon-file-archive-o {
  width: 0.8571428571428571em;
}

.zx-icon-file-audio-o {
  width: 0.8571428571428571em;
}

.zx-icon-file-movie-o {
  width: 0.8571428571428571em;
}

.zx-icon-file-code-o {
  width: 0.8571428571428571em;
}

.zx-icon-vine {
  width: 0.8571428571428571em;
}

.zx-icon-jsfiddle {
  width: 1.1428571428571428em;
}

.zx-icon-ra {
  width: 0.9960714285714285em;
}

.zx-icon-git-square {
  width: 0.8571428571428571em;
}

.zx-icon-hacker-news {
  width: 0.8571428571428571em;
}

.zx-icon-tencent-weibo {
  width: 0.7142857142857142em;
}

.zx-icon-wechat {
  width: 1.1428571428571428em;
}

.zx-icon-paper-plane {
  width: 1.0011428571428571em;
}

.zx-icon-paper-plane-o {
  width: 1.0005714285714284em;
}

.zx-icon-history {
  width: 0.8571428571428571em;
}

.zx-icon-circle-thin {
  width: 0.8571428571428571em;
}

.zx-icon-paragraph {
  width: 0.7265714285714285em;
}

.zx-icon-sliders {
  width: 0.8571428571428571em;
}

.zx-icon-share-alt {
  width: 0.8571428571428571em;
}

.zx-icon-share-alt-square {
  width: 0.8571428571428571em;
}

.zx-icon-plug {
  width: 1.0067142857142857em;
}

.zx-icon-yelp {
  width: 0.8549285714285714em;
}

.zx-icon-newspaper-o {
  width: 1.1428571428571428em;
}

.zx-icon-wifi {
  width: 1.1428571428571428em;
}

.zx-icon-calculator {
  width: 0.9285714285714285em;
}

.zx-icon-paypal {
  width: 0.8577142857142857em;
}

.zx-icon-google-wallet {
  width: 1.0145em;
}

.zx-icon-cc-visa {
  width: 1.2857142857142856em;
}

.zx-icon-cc-mastercard {
  width: 1.2857142857142856em;
}

.zx-icon-cc-discover {
  width: 1.2857142857142856em;
}

.zx-icon-cc-amex {
  width: 1.2857142857142856em;
}

.zx-icon-cc-paypal {
  width: 1.2857142857142856em;
}

.zx-icon-cc-stripe {
  width: 1.2857142857142856em;
}

.zx-icon-bell-slash {
  width: 1.1428571428571428em;
}

.zx-icon-bell-slash-o {
  width: 1.1428571428571428em;
}

.zx-icon-trash {
  width: 0.7857142857142857em;
}

.zx-icon-copyright {
  width: 0.8571428571428571em;
}

.zx-icon-at {
  width: 0.8571428571428571em;
}

.zx-icon-eyedropper {
  width: 1.0178571428571428em;
}

.zx-icon-paint-brush {
  width: 0.9988571428571428em;
}

.zx-icon-area-chart {
  width: 1.1428571428571428em;
}

.zx-icon-pie-chart {
  width: 0.9642857142857142em;
}

.zx-icon-line-chart {
  width: 1.1428571428571428em;
}

.zx-icon-lastfm-square {
  width: 0.8571428571428571em;
}

.zx-icon-toggle-off {
  width: 1.1428571428571428em;
}

.zx-icon-toggle-on {
  width: 1.1428571428571428em;
}

.zx-icon-bicycle {
  width: 1.2857142857142856em;
}

.zx-icon-bus {
  width: 0.8571428571428571em;
}

.zx-icon-ioxhost {
  width: 1.1428571428571428em;
}

.zx-icon-angellist {
  width: 0.7142857142857142em;
}

.zx-icon-cc {
  width: 1.1428571428571428em;
}

.zx-icon-ils {
  width: 0.7678571428571428em;
}

.zx-icon-meanpath {
  width: 0.8571428571428571em;
}

.zx-icon-buysellads {
  width: 0.8571428571428571em;
}

.zx-icon-connectdevelop {
  width: 1.1428571428571428em;
}

.zx-icon-dashcube {
  width: 0.7857142857142857em;
}

.zx-icon-forumbee {
  width: 0.8571428571428571em;
}

.zx-icon-leanpub {
  width: 1.1428571428571428em;
}

.zx-icon-sellsy {
  width: 1.1428571428571428em;
}

.zx-icon-shirtsinbulk {
  width: 0.8571428571428571em;
}

.zx-icon-simplybuilt {
  width: 1.1428571428571428em;
}

.zx-icon-skyatlas {
  width: 1.1428571428571428em;
}

.zx-icon-cart-plus {
  width: 0.9285714285714285em;
}

.zx-icon-cart-arrow-down {
  width: 0.9285714285714285em;
}

.zx-icon-diamond {
  width: 1.1428571428571428em;
}

.zx-icon-ship {
  width: 1.1428571428571428em;
}

.zx-icon-user-secret {
  width: 0.7857142857142857em;
}

.zx-icon-motorcycle {
  width: 1.3019285714285713em;
}

.zx-icon-street-view {
  width: 0.7857142857142857em;
}

.zx-icon-venus {
  width: 0.63em;
}

.zx-icon-mars {
  width: 0.8571428571428571em;
}

.zx-icon-mercury {
  width: 0.6428571428571428em;
}

.zx-icon-intersex {
  width: 0.7728571428571428em;
}

.zx-icon-transgender-alt {
  width: 0.9285714285714285em;
}

.zx-icon-mars-double {
  width: 1.0602857142857143em;
}

.zx-icon-venus-mars {
  width: 1.1199999999999999em;
}

.zx-icon-mars-stroke {
  width: 0.8571428571428571em;
}

.zx-icon-mars-stroke-v {
  width: 0.63em;
}

.zx-icon-mars-stroke-h {
  width: 1.0552142857142857em;
}

.zx-icon-neuter {
  width: 0.6428571428571428em;
}

.zx-icon-genderless {
  width: 0.6428571428571428em;
}

.zx-icon-facebook-official {
  width: 0.8571428571428571em;
}

.zx-icon-pinterest-p {
  width: 0.7142857142857142em;
}

.zx-icon-whatsapp {
  width: 0.8571428571428571em;
}

.zx-icon-user-plus {
  width: 1.1428571428571428em;
}

.zx-icon-user-times {
  width: 1.1378571428571427em;
}

.zx-icon-bed {
  width: 1.1428571428571428em;
}

.zx-icon-viacoin {
  width: 0.8571428571428571em;
}

.zx-icon-train {
  width: 0.8571428571428571em;
}

.zx-icon-subway {
  width: 0.8571428571428571em;
}

.zx-icon-y-combinator {
  width: 0.8571428571428571em;
}

.zx-icon-optin-monster {
  width: 1.2812142857142856em;
}

.zx-icon-opencart {
  width: 1.5335em;
}

.zx-icon-battery {
  width: 1.2857142857142856em;
}

.zx-icon-battery-3 {
  width: 1.2857142857142856em;
}

.zx-icon-battery-2 {
  width: 1.2857142857142856em;
}

.zx-icon-battery-1 {
  width: 1.2857142857142856em;
}

.zx-icon-battery-0 {
  width: 1.2857142857142856em;
}

.zx-icon-mouse-pointer {
  width: 0.6456428571428571em;
}

.zx-icon-i-cursor {
  width: 0.5em;
}

.zx-icon-object-group {
  width: 1.1428571428571428em;
}

.zx-icon-object-ungroup {
  width: 1.2857142857142856em;
}

.zx-icon-sticky-note {
  width: 0.8571428571428571em;
}

.zx-icon-sticky-note-o {
  width: 0.8571428571428571em;
}

.zx-icon-cc-jcb {
  width: 1.2857142857142856em;
}

.zx-icon-cc-diners-club {
  width: 1.2857142857142856em;
}

.zx-icon-balance-scale {
  width: 1.2142857142857142em;
}

.zx-icon-hourglass-o {
  width: 0.8571428571428571em;
}

.zx-icon-hourglass-1 {
  width: 0.8571428571428571em;
}

.zx-icon-hourglass-2 {
  width: 0.8571428571428571em;
}

.zx-icon-hourglass-3 {
  width: 0.8571428571428571em;
}

.zx-icon-hourglass {
  width: 0.8571428571428571em;
}

.zx-icon-hand-grab-o {
  width: 0.8571428571428571em;
}

.zx-icon-hand-paper-o {
  width: 0.9107142857142857em;
}

.zx-icon-hand-lizard-o {
  width: 1.1428571428571428em;
}

.zx-icon-hand-spock-o {
  width: 1.0714285714285714em;
}

.zx-icon-hand-pointer-o {
  width: 0.9285714285714285em;
}

.zx-icon-hand-peace-o {
  width: 0.8571428571428571em;
}

.zx-icon-trademark {
  width: 1.101em;
}

.zx-icon-gg {
  width: 1.1428571428571428em;
}

.zx-icon-tripadvisor {
  width: 1.2857142857142856em;
}

.zx-icon-odnoklassniki {
  width: 0.7142857142857142em;
}

.zx-icon-odnoklassniki-square {
  width: 0.8571428571428571em;
}

.zx-icon-get-pocket {
  width: 0.9597857142857142em;
}

.zx-icon-wikipedia-w {
  width: 1.2857142857142856em;
}

.zx-icon-chrome {
  width: 1.054142857142857em;
}

.zx-icon-firefox {
  width: 0.9537142857142857em;
}

.zx-icon-television {
  width: 1.0714285714285714em;
}

.zx-icon-500px {
  width: 0.7957857142857142em;
}

.zx-icon-amazon {
  width: 0.9960714285714285em;
}

.zx-icon-calendar-plus-o {
  width: 0.9285714285714285em;
}

.zx-icon-calendar-minus-o {
  width: 0.9285714285714285em;
}

.zx-icon-calendar-times-o {
  width: 0.9285714285714285em;
}

.zx-icon-calendar-check-o {
  width: 0.9285714285714285em;
}

.zx-icon-map-pin {
  width: 0.5714285714285714em;
}

.zx-icon-map-o {
  width: 1.1428571428571428em;
}

.zx-icon-houzz {
  width: 0.5714285714285714em;
}

.zx-icon-vimeo {
  width: 1.005em;
}

.zx-icon-black-tie {
  width: 0.8571428571428571em;
}

.zx-icon-fonticons {
  width: 0.8571428571428571em;
}

.zx-icon-credit-card-alt {
  width: 1.2857142857142856em;
}

.zx-icon-codiepie {
  width: 0.9615em;
}

.zx-icon-fort-awesome {
  width: 0.9285714285714285em;
}

.zx-icon-usb {
  width: 1.2857142857142856em;
}

.zx-icon-mixcloud {
  width: 1.2857142857142856em;
}

.zx-icon-scribd {
  width: 0.8571428571428571em;
}

.zx-icon-pause-circle {
  width: 0.8571428571428571em;
}

.zx-icon-pause-circle-o {
  width: 0.8571428571428571em;
}

.zx-icon-stop-circle {
  width: 0.8571428571428571em;
}

.zx-icon-stop-circle-o {
  width: 0.8571428571428571em;
}

.zx-icon-shopping-basket {
  width: 1.1428571428571428em;
}

.zx-icon-bluetooth {
  width: 0.8571428571428571em;
}

.zx-icon-bluetooth-b {
  width: 0.5714285714285714em;
}

.zx-icon-percent {
  width: 0.8571428571428571em;
}

.zx-icon-wpforms {
  width: 0.8571428571428571em;
}

.zx-icon-envira {
  width: 1.0664285714285713em;
}

.zx-icon-wheelchair-alt {
  width: 0.8582857142857142em;
}

.zx-icon-question-circle-o {
  width: 0.8571428571428571em;
}

.zx-icon-blind {
  width: 0.7902142857142858em;
}

.zx-icon-audio-description {
  width: 1.2823571428571428em;
}

.zx-icon-volume-control-phone {
  width: 0.7857142857142857em;
}

.zx-icon-braille {
  width: 1.2142857142857142em;
}

.zx-icon-assistive-listening-systems {
  width: 1.0045em;
}

.zx-icon-american-sign-language-interpreting {
  width: 1.2857142857142856em;
}

.zx-icon-glide {
  width: 0.8571428571428571em;
}

.zx-icon-glide-g {
  width: 0.8565714285714285em;
}

.zx-icon-sign-language {
  width: 0.9257857142857142em;
}

.zx-icon-viadeo {
  width: 0.7131428571428571em;
}

.zx-icon-viadeo-square {
  width: 0.8571428571428571em;
}

.zx-icon-snapchat {
  width: 0.8571428571428571em;
}

.zx-icon-snapchat-ghost {
  width: 0.9285714285714285em;
}

.zx-icon-snapchat-square {
  width: 0.8571428571428571em;
}

.zx-icon-pied-piper {
  width: 1.2857142857142856em;
}

.zx-icon-first-order {
  width: 0.8571428571428571em;
}

.zx-icon-yoast {
  width: 0.9285714285714285em;
}

.zx-icon-google-plus-circle {
  width: 0.8571428571428571em;
}

.zx-icon-fa {
  width: 0.8777857142857142em;
}

.zx-icon-handshake-o {
  width: 1.2857142857142856em;
}

.zx-icon-linode {
  width: 0.8577142857142857em;
}

.zx-icon-address-book {
  width: 0.9285714285714285em;
}

.zx-icon-address-book-o {
  width: 0.9285714285714285em;
}

.zx-icon-address-card {
  width: 1.1428571428571428em;
}

.zx-icon-address-card-o {
  width: 1.1428571428571428em;
}

.zx-icon-user-o {
  width: 0.8571428571428571em;
}

.zx-icon-id-badge {
  width: 0.7142857142857142em;
}

.zx-icon-drivers-license {
  width: 1.1428571428571428em;
}

.zx-icon-drivers-license-o {
  width: 1.1428571428571428em;
}

.zx-icon-quora {
  width: 1.0033571428571428em;
}

.zx-icon-free-code-camp {
  width: 1.2857142857142856em;
}

.zx-icon-thermometer {
  width: 0.5714285714285714em;
}

.zx-icon-thermometer-3 {
  width: 0.5714285714285714em;
}

.zx-icon-thermometer-2 {
  width: 0.5714285714285714em;
}

.zx-icon-thermometer-1 {
  width: 0.5714285714285714em;
}

.zx-icon-thermometer-0 {
  width: 0.5714285714285714em;
}

.zx-icon-shower {
  width: 1.0714285714285714em;
}

.zx-icon-podcast {
  width: 0.8482142857142857em;
}

.zx-icon-window-restore {
  width: 1.1428571428571428em;
}

.zx-icon-grav {
  width: 1.0011428571428571em;
}

.zx-icon-etsy {
  width: 0.8571428571428571em;
}

.zx-icon-imdb {
  width: 0.8571428571428571em;
}

.zx-icon-ravelry {
  width: 1.231em;
}

.zx-icon-eercast {
  width: 0.9609285714285714em;
}

.zx-icon-microchip {
  width: 0.8571428571428571em;
}

.zx-icon-snowflake-o {
  width: 0.9285714285714285em;
}

.zx-icon-meetup {
  width: 1.0675em;
}
